ul {
  list-style-type: square;
  color: red;
}

/* .eshmat {
  color: red;
  background-color: cyan;
  text-align: right;
}

#toshmat {
  color: blue;
}

a {
  color: green !important;
  text-decoration: line-through;
}

h2 {
  background-color: black;
}

.red {
  color: red;
}

.green {
  color: green;
}

p {
  text-align: justify;
} */