.cta {
  margin: 100px 0;
}

.cta__container {
  display: flex;
}

.cta__video {
  width: 55%;
  position: relative;
}

.cta__video .video {
  width: 100%;
  border-radius: 40px;
}

.play__btn {
  position: absolute;
  // top: calc(50% - 35px);
  // left: calc(50% - 35px);
  top: 50%;
  left: 50%;
  // transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%, -50%);
}

.cta__form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

.cta__form span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f75c4e;
}

.cta__form h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.cta__form p {
  max-width: 396px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #575455;
  margin: 30px 0;
}

.cta__form form {
  position: relative;
  display: flex;
  align-items: center;
}

.cta__form input {
  width: 80%;
  font-size: 16px;
  padding: 14px 24px;
  border: none;
  background-color: #f5f6fb;
  border-radius: 50px;
}

.cta__form button[type="submit"] {
  @include button(#fff, #1f7cff, 600);
  position: absolute;
  right: 10%;
  border: none;
}
