body {
  height: 2500px;
}

.carousel-inner {
  height: 600px;
}

.carousel-item {
  height: 100%;
}

.obj-fit-cover {
  object-fit: cover;
  object-position: bottom;
}

.carousel {
  margin-top: 56px;
}

.box {
  background-color: red;
  border: 1px solid black;
  color: #fff;
}